.containerNew {
	position: relative;
	width: 100%;
}

.image {
	display: block;
	width: 100%;
	height: auto;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.5s ease;
	background-image: url('/assets/images/overlay-background.png');
}

.containerNew:hover .overlay {
	opacity: 1;
}

.text {
	color: white;
	font-size: 1vw;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: left;
	width: 80%;
}

@media (max-width: 991.98px) {
	.text {
		font-size: 6vw;
		line-height: normal;
	}
}
