.textCenter {
	text-align: center;
}

.flexCol {
	display: flex;
	flex-direction: column;
}

.mb2rem {
	margin-bottom: 2rem;
}

.highlightedText {
	color: red;
	font-weight: 600;
}

.highlightedTextLight {
	color: #f42b4d;
}

.strikeout {
	width: fit-content;
	position: relative;
}

.strikeout::after {
	border-bottom: 0.125em solid orangered;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 50%;
	transform: rotate(-10deg);
}

.strikeoutBlack {
	width: fit-content;
	position: relative;
}

.strikeoutBlack::after {
	border-bottom: 0.125em solid #313131;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 50%;
	transform: rotate(-10deg);
}