.imageWrapper {
	height: 450px;
	max-height: 500px;
	object-fit: contain;
	border-radius: 5%;
	display: flex !important;
	justify-content: flex-end !important;
}

.image {
	border-radius: 5%;
	height: 100%;
	object-fit: contain;
}

.carouselWrapper {
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 800px) {
	.image {
		max-height: 100%;
	}
	.imageWrapper {
		justify-content: center !important;
	}
}

@media screen and (min-width: 1900px) {
	.imageWrapper {
		height: 600px;
		max-height: 600px;
		object-fit: contain;
		border-radius: 5%;
		display: flex !important;
		justify-content: flex-end !important;
	}
	.image {
		max-height: 80%;
	}
}

@media screen and (min-width: 2500px) {
	.imageWrapper {
		height: 600px;
		max-height: 600px;
		object-fit: contain;
		border-radius: 5%;
		display: flex !important;
		justify-content: flex-end !important;
	}

	.image {
		max-height: 100%;
	}
}

@media screen and (min-width: 4000px) {
	.imageWrapper {
		height: 750px;
		max-height: 750px;
		object-fit: contain;
		border-radius: 5%;
		display: flex !important;
		justify-content: flex-end !important;
	}

	.image {
		max-height: 80%;
		max-width: 80%;
	}
}
